<div class=" my-5 mx-20 p-3">
    <ul class="list bg-base-100 rounded-box shadow-md">
        <li class="list-row hover:bg-amber-100">
            <div class="text-4xl font-thin opacity-30 tabular-nums">{{userDetails["id"]}}</div>
            <div class="list-col-grow">
                <div>{{userDetails["name"]}}</div>
                <div class="ml-5 text-xs uppercase font-semibold opacity-60">Age : {{userDetails["Age"]}}</div>
                <div class="ml-5 text-xs uppercase font-semibold opacity-60">E-mail : {{userDetails["email"]}}</div>
                <br>
                <div>
                    <p>More info onthe user <u>"{{userDetails["name"]}}"</u> : </p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, autem, ipsa est excepturi inventore tempore ipsam dolor optio ad minima amet, nisi totam. Quae exercitationem minima quo nesciunt impedit nam.</p></div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio veritatis voluptas excepturi esse quidem architecto temporibus, natus asperiores eligendi dignissimos ut, perspiciatis fugit facilis eum aliquid sequi incidunt, ea reprehenderit!</p>
                </div>
        </li>
    </ul>
</div>
